footer{
    background-color: dimgrey;
    width: 100vw;
    height: 20vh;
    display: flex;
    position: fixed;
    bottom: 0%;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}